body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  background: url(background.jpg) no-repeat;
  background-size: 100%;
  /*background-repeat: */
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
img{
  /*position: absolute;*/
  top: 30px;
  left: 500px;
}
.title, .addDancerButton, .lineupButton, .danceOff{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:100px solid red;
  border-radius:100px;
  position:absolute;
}

